﻿@model FisiovidaSystem.Lib.Entity.Modalidade
@{
    ViewBag.Title = "Modalidades - Detalhe";
    ViewBag.Modalidades = "active";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Modalidade")">Modalidades</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Model.Nome</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn green btn-outline btn-sm" href="@Url.Action("Editar", "Modalidade", new { id = Model.ID })">
                <i class="fa fa-edit"></i> Editar Modalidade
            </a>

            
        </div>
    </div>
</div>

<h3 class="page-title ">

</h3>

<div class="row margin-bottom-40">
    <div class="col-lg-6 col-md-6">
        <div class="portlet light about-text bordered" style="height:auto !important;">
            <h4>
                <i class="fa fa-check icon-info"></i> @Model.Nome
            </h4>
            <p class="margin-top-20">
                @Model.Descricao
            </p>
            <div class="row">
                <div class="col-xs-6">
                    <ul class="list-unstyled margin-top-10 margin-bottom-10">
                        <li>
                            <i class="fa fa-check"></i> @Model.VagasPorTurma Vagas por turma
                        </li>
                        <li>
                            <i class="fa fa-check"></i> @Model.Duracao min de aula
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="list-unstyled margin-top-10 margin-bottom-10">
                        @foreach (var item in Model.Icones)
                        {
                            <li>
                                <i class="fa fa-check"></i> @item.Nome
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <img style=" margin: 0 auto; max-width: 100%; max-height: 100%; width:auto; display: block;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.FotoCapa)" />
    </div>
</div>



<div class="row hidden">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-group"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="234">234</span>
                </div>
                <div class="desc"> Praticantes </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="234">234</span>
                </div>
                <div class="desc"> Pacotes 1 </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="fa fa-puzzle-piece"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="20">20</span>
                </div>
                <div class="desc"> Turmas </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="@Model.Duracao">@Model.Duracao</span>
                </div>
                <div class="desc"> Minutos </div>
            </div>

        </div>
    </div>

    <div class="tab-content">
        <div class="portlet light bordered" id="tab_1_11">
            <div class="portlet-title">
                <div class="caption font-blue">
                    <span class="caption-subject bold uppercase">Galeria de Fotos</span>
                </div>
                
            </div>
            <div class="portlet-body" id="galeria">
                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                        @foreach (var item in Model.Galeria)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="mt-card-item">
                                    <div class="mt-card-avatar mt-overlay-1">
                                        <img style=" margin: 0 auto; max-width: 100%; max-height: 100%; width:auto; height: 120px; display: block;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + item.Arquivo)" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-content ">
        <div class="portlet light bordered" id="tab_1_11">
            <div class="portlet-title">
                <div class="caption font-blue">
                    <span class="caption-subject bold uppercase">Pacotes</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle green btn-outline btn-sm" href="@Url.Action("NovoPacote", "Modalidade", new { id = Model.ID, nome = Model.Nome })">
                        <i class="fa fa-plus"></i> Cadastrar Pacote
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.ValoresModalidade.Count > 0)
                {
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-xs">
                                    Pacote
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Valor
                                </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plano in Model.ValoresModalidade.OrderBy(p => p.QtdDias).ThenBy(a => a.Valor))
                            {
                                <tr id="plano-@(plano.ID)">
                                    <td class="hidden-xs">@(plano.QtdDias)x</td>
                                    <td>@plano.Descricao</td>
                                    <td>@plano.Valor.ToString("F")</td>
                                    <td>
                                        <a class="btn btn-sm grey-salsa btn-outline" href="@Url.Action("EditarPacote", "Modalidade", new { id = plano.ID, nome = Model.Nome })"> Editar </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm grey-salsa btn-outline excluir-pacote" data-id="@plano.ID" href="#"> Excluir </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>Atenção!</strong> A modalidade não possui nenhum pacote para matrícula.
                    </div>
                }

            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('.excluir-pacote').on('click', function (e) {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExcluirPacote", "Modalidade")?id=' + id,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.sucesso) {
                        toastr.success(data.msg, 'Ok!');
                        $("#plano-" + id).hide();
                    } else {
                        toastr.error(data.msg, 'Ops!');
                    }

                },
                error: function (data) {
                    toastr.error("Ocorreu um erro ao excluir o pacote", 'Ops!');
                }
            });
        });
    });

</script>
