﻿@model FisiovidaSystem.Admin.Models.PacoteModalidadeModel
@{
    ViewBag.Title = "Modalidades - Editar Pacote";
    ViewBag.Modalidades = "active";

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Modalidade")">Modalidades</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Detalhe", "Modalidade", new { id = Model.ModalidadeID })">@Model.ModalidadeNome</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Editar Pacote</span>
        </li>

    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title ">
    Editar Pacote
    <small>preencha os campos para realizar o cadastro</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa-info-circle fa font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Informações Gerais</span>
            <span class="caption-helper">do pacote</span>
        </div>
    </div>
    <form action="@Url.Action("SalvarPacote", "Modalidade")" class="form-horizontal">
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <input type="hidden" name="ModalidadeID" value="@Model.ModalidadeID" />
            <input type="hidden" name="ID" value="@Model.ID" />
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Dias por Semana</label>
                    <div class="col-md-4">
                        <input value="@Model.QtdDias" type="number" required="required" min="1" step="1" max="6" name="QtdDias" class="form-control" placeholder="Dias por Semana">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Descrição</label>
                    <div class="col-md-4">
                        <textarea class="form-control" style="height:150px" placeholder="Descreva a modalidade" name="Descricao">@Model.Descricao</textarea>
                        <span class="help-block">Caso necessário, descreva o pacote.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Valor Mensal</label>
                    <div class="col-md-4">
                        <input type="text" name="Valor" placeholder="Valor" id="valor" value="@Model.Valor.ToString("N2")" />
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="submit" id="concluir" class="btn green">Concluir</button>
                        <a href="@Url.Action("Detalhe", "Modalidade", new { id = Model.ModalidadeID })" class="btn default">Canelar</a>
                    </div>
                </div>
            </div>


        </div>
    </form>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#valor").inputmask('999.99', {
            numericInput: true
        });

        $("#concluir").on("click", function (e) {
            var val = $("#valor").val();
            val = val.replace("_", "0");
            $("#valor").val(val);

            return true;
        });
    });
</script>