﻿@{
    ViewBag.Title = "Not Found";
}

<div class="categoria col-md-12 page-404" style="margin-bottom:10px;">
    <h1 class="tit number font-green">
        404
    </h1>
    <div class="details">
        <h3>Oops! Você está perdido.</h3>
        <p>
            Não conseguimos encontrar a página que você está procurando.
        </p>
    </div>
    <div class="modalidades">

    </div>
</div>

<div class="container">

    <div>
        <!-- FOOTER -->
        <footer>
            <p class="pull-right hidden-xs"><img src="~/Content/imagem/pereiras.jpg"></p>
            <p class="pull-right visible-xs hidden-sm hidden-md hidden-lg"><img width="85" src="~/Content/imagem/pereiras.jpg"></p>
            <p>® MUDE | Esporte e Saúde - Todos os direitos reservados</p>
        </footer>
    </div>
</div><!-- /.container -->