﻿@{
    ViewBag.Title = "Erro Interno";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Erro</span>
        </li>
    </ul>

</div>

<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-red"> 500 </div>
        <div class="details">
            <h3>Oops! Ocorreu um erro inesperado.</h3>
            <p>
                Por favor, tente novamente mais tarde!
            </p>
        </div>
    </div>
</div>  