﻿
@{
    ViewBag.Title = "Horários - Lista";
    ViewBag.Horarios = "active";
}



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-clock-o font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold uppercase">Horários</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="@Url.Action("Editar","Horario")" class="btn green">
                                    <i class="icon-plus" style="margin-right:5px;"></i>  Cadastrar
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right hidden">
                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Ações
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;"> Salvar PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Exportar para Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table border="0" cellspacing="5" cellpadding="5" style="float:right">
                    <tbody>
                        
                    </tbody>
                </table>
                <table class="table table-striped table-hover table-bordered" id="horarios-table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Hora</th>
                            <th>Cadastrado em</th>
                            <th width="15px"> Excluir </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END CONTENT BODY -->

<script type="text/javascript">

    $(document).ready(function () {

        var table = $('#horarios-table').dataTable({
            "oLanguage": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "bFilter": false,
            "bInfo": false,
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": "@Url.Action("Listar", "Horario")",
            "fnServerParams": function (aoData) {
                var max = $("#max").val();
                aoData.push({ name: "max", value: max });
            },
            "bProcessing": true,
            "aoColumns": [
                { "sName": "DiaSemana", "bSortable": false },
                { "sName": "Hora", "bSortable": false },
                { "sName": "Modificado", "bSortable": false },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Excluir" href="@Url.Action("Excluir", "Horario")/' + data + '"  class="btn btn-sm red"> <i class="icon-trash"> </i></a></div>';
                        return botoes;
                    }
                }
            ]
        });

    });

</script>