﻿@model FisiovidaSystem.Models.NoticiaModel
@{
    ViewBag.Title = "Mude - Blog";
    ViewBag.Blog = "active";
}

<div class="blog">
    <div class="container">
        <div class="form-categoria pd-zero container">
            <h1 class="tit-blog">BLOG</h1>
            <div class="conteudo pd-conteudo">
                <div class="tit-noticias"><div class="news"><h2>Notícias</h2></div></div>
                <div class="row tb-noticias">
                    <p class="data">@Model.Noticia.DataCadastro.ToString("dd/MM/yyyy")</p>
                    <h3 id="titulo" class="tit-noticia-detalhe">@Model.Noticia.Titulo</h3>

                    @foreach (var tag in Model.Noticia.Tags)
                    {
                        <span class="tag-noticia f-left" style="background-color:@tag.Cor">@tag.Nome</span>
                    }
                    <div style="width: 100%; height: 100%;">
                        <share-button></share-button>
                    </div>
                    <br class="clr">
                    <p class="text-noticia">
                        <img class="img-noticia-detalhe f-left" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Noticia.ImagemCapa)"> 
                        @Html.Raw(Model.Noticia.Texto)
                    </p>
                    <br class="clr">
                    <div class='row hidden-xs borda-galeria @(Model.Noticia.Galeria.Count==0?"hidden":"")'>
                        <div class="carousel no-margin carousel2 slide mg-zero media-carousel" id="carousel1">
                            <div class="carousel-inner no-margin ">
                                @{
                                    var cont = 0;

                                    while (cont < Model.Noticia.Galeria.Count)
                                    {
                                        <div class="item  @(cont==0?"active":"") galeria-hover no-margin">
                                            <div class="row no-margin">
                                                @for (int i = 0; i < 4; i++)
                                                {
                                                    if (cont + i < Model.Noticia.Galeria.Count)
                                                    {

                                                        var dif = Model.Noticia.Galeria[cont + i];
                                                        <div class="col-md-3 col-sm-3 gallery-item" style="display:block;">
                                                            <a href="#" class="thumbnail no-margin link-gallery crop" data-toggle="modal" data-target="#modalGallery">
                                                                <img class="carousel-inner2 galeria-altura img-responsive img-gallery" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + dif.Arquivo)">
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                                cont += 4;
                                    }
                                }
                            </div>
                            <a data-slide="prev" href="#carousel1" class="left carousel-control click">‹</a>
                            <a data-slide="next" href="#carousel1" class="right carousel-control click">›</a>
                        </div>
                    </div>
                    @if (Model.Noticia.Usuario != null)
                    {
                        <div class="f-left autor">
                            <p class=" autor-nome">@Model.Noticia.Usuario.Nome</p>
                            <p class="autor-descricao">@Model.Noticia.Usuario.DescricaoProfissional</p>
                        </div>
                    }
                    <br class="clr">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row hidden-xs">
        <div class="col-md-7 pad-ag">
            <p><a href="#"><img src="~/Content/imagem/agendamento2.jpg"></a></p>
        </div>

        <div class="col-md-5 pad-prop">
            <p>
                <a href="@Model.Configuracao.LinkPropaganda" target="_blank">
                    <img class="propa" style="min-height:100%; overflow:hidden;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Configuracao.BannerPropaganda)">
                </a>
            </p>
        </div>
    </div>

    <hr>
    <div>
        <footer>
            <p class="pull-right hidden-xs"><img src="~/Content/imagem/pereiras.jpg"></p>
            <p class="pull-right visible-xs hidden-sm hidden-md hidden-lg"><img width="85" src="~/Content/imagem/pereiras.jpg"></p>
            <p>® MUDE | Esporte e Saúde - Todos os direitos reservados</p>
        </footer>
    </div>
</div>

<div class="modal fade" id="modalGallery" tabindex="-1" role="dialog" aria-labelledby="modalGalleryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div> <!-- /.modal-header -->

            <div class="modal-body">
                <div id="carouselGallery" class="carousel no-margin slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                    </div> <!-- /.carousel-inner -->
                </div> <!-- /.carousel -->
            </div> <!-- /.modal-body -->

            <div class="modal-footer">
                <ul class="pagination"></ul>
            </div> <!-- /.modal-footer -->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
@section Scripts
{
    <script src="@Url.Content("~/Content/js/vendor/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/galeria.js")"></script>
    <script src="@Url.Content("~/Content/js/minishare-0.0.1.js")"></script>
}
<script type="text/javascript">
    $.miniShare();
    $(document).ready(function () {
        $("#facebook").on("click", function () {
            u = location.href;
            t = document.title;
            window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436');
            return false;
        });
    });
</script>
