﻿@model FisiovidaSystem.Models.BlogModel
@{
    ViewBag.Blog = "active";
    ViewBag.Title = "Mude - Blog";
    
}

<div class="blog">
    <div class="container">
        <div class="form-categoria pd-zero container grid">
            <h1 class="tit-blog">BLOG</h1>
            <div class="conteudo pd-conteudo grid page">
                <div class="tit-noticias"><div class="news"><h2>Notícias</h2></div></div>
                <div id="noticias">
                    @{
                        int cont = 0;

                        while (cont < Model.Noticias.Count)
                        {
                            <div class="row tb-noticias items">

                                @for (int i = 0; i < 3; i++)
                                {
                                    if (cont + i < Model.Noticias.Count)
                                    {
                                        var noticia = Model.Noticias[cont + i];
                                        <div class="col-md-4 col-sm-4 ">
                                            <a href="@Url.Action("Detalhe", "Blog", new { id = noticia.ID })"><img class="img-noticia" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + noticia.ImagemCapa)"></a>
                                            <h3 class="tit-noticia"><a href="@Url.Action("Detalhe", "Blog", new { id = noticia.ID })">@noticia.Titulo</a></h3>
                                            <p class="data f-left">@noticia.DataCadastro.ToString("dd/MM/yyyy")</p><br class="clr">
                                            @foreach (var tag in noticia.Tags)
                                            {
                                                <span class="tag-noticia f-left" style="background-color:@tag.Cor;">@tag.Nome</span>
                                            }
                                            <br class="clr">
                                        </div>
                                    }
                                }
                            </div>
                                cont += 3;
                        }
                    }
                </div>
                @if (Model.TotalNoticias > 6)
                {
                    <form class="btn-center">
                        <button type="button" class="btn btn-default carregarmais center-block">Carregar Mais</button>
                    </form>
                }

            </div>

        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row hidden-xs">
        <div class="col-md-7 pad-ag">
            <p><a href="#"><img src="~/Content/imagem/agendamento2.jpg"></a></p>
        </div>

        <div class="col-md-5 pad-prop">
            <p>
                <a href="@Model.Configuracao.LinkPropaganda" target="_blank">
                    <img class="propa" style="min-height:100%; overflow:hidden;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Configuracao.BannerPropaganda)">
                </a>
            </p>
        </div>
    </div>

    <hr>
    <div>
        <!-- FOOTER -->
        <footer>
            <p class="pull-right hidden-xs"><img src="~/Content/imagem/pereiras.jpg"></p>
            <p class="pull-right visible-xs hidden-sm hidden-md hidden-lg"><img width="85" src="~/Content/imagem/pereiras.jpg"></p>
            <p>® MUDE | Esporte e Saúde - Todos os direitos reservados</p>
        </footer>
    </div>
</div><!-- /.container -->
@section Scripts
{
    <script src="@Url.Content("~/Content/js/vendor/jquery.min.js")"></script>
}
<script type="text/javascript">

    $(document).ready(function () {
        var pagina = 1;
        $('.carregarmais').on('click', function (e) {
            // ajax
            pagina++;
            $.ajax({
                type: "POST",
                url: '@Url.Action("CarregaPagina", "Blog")?pagina=' + pagina,
                data: param = "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.sucesso) {
                        $('#noticias').append(data.msg);
                        if (data.total <= pagina * 6) {
                            $('.carregarmais').hide();
                        }
                    } 

                },
                error: function (data) {
                    toastr.error("Ocorreu um erro ao cancelar o plano", 'Ops!');
                }
            });
            //append resultado em #noticias

        });
    });
</script>