﻿@model FisiovidaSystem.Lib.Entity.Aluno

@foreach (var item in Model.Planos.Where(p => DateTime.Compare(p.DataFim, DateTime.Now) > 0 || p.DataFim == DateTime.MinValue))
{
                    <!-- INCIO PLANO -->
    <div class="portlet light bordered" id="plano-@item.ID">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-heartbeat font-green"></i>
                <span class="caption-subject font-green bold uppercase">@item.ValorModalidade.Modalidade.Nome</span>
            </div>
            <div class="actions">
                <span class="label label-sm label-success" style="margin-right:20px;"> <i class="fa fa-info" style="margin-right:10px;"></i>Saldo: @item.SaldoAulas </span>
                <a href="#" class="btn btn-circle green btn-outline btn-sm @((item.SaldoAulas <= 0) ? "disabled" : "")">
                    <i class="fa fa-history"></i> Recuperar Aula
                </a>
                <a href="#" class="btn btn-circle green btn-outline btn-sm">
                    <i class="fa fa-history"></i> Adicionar Turma
                </a>
                <a href="#" data-planoid="@item.ID" title="Sair de todas as turmas deste plano" class="btn btn-circle green btn-outline btn-sm fechar-plano">
                    <i class="fa fa-history"></i> Fechar Plano
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable" style="z-index:1;">
                <table class="table table-hover" style="z-index:2;">
                    <thead>
                        <tr>
                            <th> Dia </th>
                            <th> Hora </th>
                            <th> Professor </th>
                            <th> Desmarcar </th>
                            <th> Sair </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var turma in item.TurmasPlano.OrderBy(t => t.Horario.DiaSemana).ThenBy(t => t.Horario.Hora.Hour))
                        {
                            <tr>
                                <td> @turma.Horario.NomeDiaSemana </td>
                                <td> @turma.Horario.Hora.ToString("HH:mm") </td>
                                <td> @turma.Professor.Nome</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn-xs btn yellow" style="width:150px;" data-toggle="modal" href="#modal@(turma.ID)" aria-expanded="false">
                                            <i style="float:left;" class="fa fa-calendar-times-o"></i> Desmarcar Aula
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" style="width:120px;" class="btn red btn-xs">
                                        <i style="float:left;" class="fa fa-external-link"></i> Sair da Turma
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    
}