﻿@model FisiovidaSystem.Admin.Models.AlunoModel

<div class="portlet light bordered hidden">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-recycle font-red"></i>
            <span class="caption-subject font-red bold uppercase">Recuperações Agendadas</span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-cloud-upload"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-trash"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Dia </th>
                        <th> Hora </th>
                        <th> Modalidade </th>
                        <th> Professor </th>
                        <th> Desmarcar </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Qua 12/04</td>
                        <td> 18:00 </td>
                        <td> Core </td>
                        <td>Marina</td>
                        <td>
                            <button type="button" style="width:100px;" class="btn red btn-xs">
                                <i style="float:left;" class="fa fa-close"></i> Desmarcar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> Qua 12/04</td>
                        <td> 18:00 </td>
                        <td> Core </td>
                        <td>Marina</td>
                        <td>
                            <button type="button" style="width:100px;" class="btn red btn-xs">
                                <i style="float:left;" class="fa fa-close"></i> Desmarcar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> Qua 12/04</td>
                        <td> 18:00 </td>
                        <td> Core </td>
                        <td>Marina</td>
                        <td>
                            <button type="button" style="width:100px;" class="btn red btn-xs">
                                <i style="float:left;" class="fa fa-close"></i> Desmarcar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

