﻿@model FisiovidaSystem.Admin.Models.DesmarcarModel
@{

    ViewBag.Title = "Usuário - Aluno - Detalhe";
    ViewBag.Alunos = "active";
    ViewBag.UsuariosTab = "selected";
    ViewBag.UsuariosOpen = "open";
}
<div class="page-bar" style="margin-bottom:10px;">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Aluno")">Aluno</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Detalhe", "Aluno", new { id = Model.AlunoID })">Detalhe</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Desmarcar Aula</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-clock-o font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Cancelamento de Aula</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("DesmarcarAula","Aluno")">
                    <input type="hidden" value="@Model.AlunoID" name="alunoID" />
                    <input type="hidden" value="@Model.TurmaID" name="turmaID" />
                    <input type="hidden" value="@Model.PlanoID" name="planoID" />
                    <div style="height:300px;" class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Selecione uma data</label>
                            <div class="col-md-3">
                                <div class="input-group input-medium date date-picker" data-date-start-date="+0d">
                                    <input type="text" name="dia" class="form-control" readonly>
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                                <span class="help-block">*até 7 dias a partir de hoje</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn dark btn-outline" href="@Url.Action("Detalhe", "Aluno", new { id = Model.AlunoID })">Cancelar</a>
                        <button type="submit" class="btn blue">
                            <i class="fa fa-check"></i> Salvar
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(".date-picker").datepicker({
        daysOfWeekDisabled: "@Model.RestanteSemana",
        format: 'dd/mm/yyyy',
        language: "pt-BR",
        startDate: new Date(),
        datesDisabled: [@(new HtmlString(Model.StringCancelamentos))]
    });

</script>

