﻿
@{
    ViewBag.Title = "Usuário - Aluno - Lista";
    ViewBag.Alunos = "active";
    ViewBag.UsuariosTab = "selected";
    ViewBag.UsuariosOpen = "open";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-users font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold uppercase">Alunos</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="@Url.Action("Editar","Aluno")" class="btn green">
                                    <i class="icon-plus" style="margin-right:5px;"></i>  Cadastrar 
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 hidden">
                            <div class="btn-group pull-right">
                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Ações
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;"> Salvar PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Exportar para Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="usuarios-table">
                    <thead>
                        <tr>
                            <th> Nome </th>
                            <th> Email </th>
                            <th> Login </th>
                            <th> Telefones </th>
                            <th> CPF </th>
                            <th> </th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END CONTENT BODY -->

<script>
    $(document).ready(function () {
        $('#usuarios-table').dataTable({
            "oLanguage": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": "@Url.Action("Listar", "Aluno")",
            "bProcessing": true,
            "aoColumns": [
                { "sName": "Nome", "bSortable": false },
                { "sName": "Email", "bSortable": false },
                { "sName": "Login", "bSortable": false },
                { "sName": "Telefones", "bSortable": false },
                { "sName": "CPF", "bSortable": false },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Ver Detalhes" title="Ver mais" href="@Url.Action("Detalhe", "Aluno")/' + data + '" class="btn btn-sm green"> <i class="icon-magnifier"> </i></a></div>';
                        return botoes;
                    }
                },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Excluir" title="Excluir" href="@Url.Action("Excluir", "Aluno")/' + data + '" class="btn btn-sm red"> <i class="icon-trash"> </i></a></div>';
                        return botoes;
                    }
                }
            ]
        });
    });
</script>


