﻿@model FisiovidaSystem.Lib.Entity.Configuracao
@{
    ViewBag.Title = "Configuração";
    ViewBag.Configuracao = "active";
}

<div class="page-bar" style="margin-bottom:20px;">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Configuração</span>
        </li>
    </ul>
    <div class="page-toolbar">
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa-cogs fa font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Configurações Gerais</span>
                    <span class="caption-helper">do sistema</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm("Salvar", "Configuracao", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {

                    <div class="form-body">
                        <div class="form-group ">
                            <label class="control-label col-md-3">Link da Propaganda</label>
                            <div class="col-md-4">
                                <input type="text" required name="LinkPropaganda" value="@Model.LinkPropaganda" class="form-control" placeholder="Link Propaganda">
                                <span class="help-block"> url de redirecionamento da propaganda</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">Banner Patrocinador</label>
                            <input type="hidden" name="BannerPropaganda" value="@Model.BannerPropaganda" />
                            <input type="hidden" id="x" name="x" value="@Model.x" />
                            <input type="hidden" id="y" name="y" value="@Model.y" />
                            <input type="hidden" id="w" name="w" value="283" />
                            <input type="hidden" id="h" name="h" value="175" />

                            <div class="col-md-9">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                        @{

                    var imagem = Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.BannerPropaganda);

                                        }
                                        <img src="@imagem" name="file1" />
                                    </div>
                                    <div>
                                        <span class="btn red btn-outline btn-file">
                                            <span class="fileinput-new"> Selecione </span>
                                            <span class="fileinput-exists"> Alterar </span>
                                            <input type="file" name="file1">
                                        </span>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        <a data-target="#modal-descontos" id="cortar" data-toggle="modal" class="btn red btn-outline">
                                            <i class="fa fa-crop"></i> Cortar
                                        </a>
                                    </div>
                                </div>

                                <span class="help-block"> banner promocional exibido no site</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-4">
                                <input required type="email" name="Email" value="@Model.Email" class="form-control" placeholder="Email">
                                <span class="help-block"> email que aparecerá na página de contato</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Telefone</label>
                            <div class="col-md-4">
                                <input type="text" required name="Telefone" value="@Model.Telefone" class="form-control telefone" placeholder="Telefone">
                                <span class="help-block"> telefone que aparecerá na página de contato</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-3">Endereço</label>
                            <div class="col-md-4">
                                <input type="text" required name="Endereco" value="@Model.Endereco" class="form-control" placeholder="Endereço">
                                <span class="help-block"> endereço que aparecerá na página de contato</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-3">Latitude</label>
                            <div class="col-md-4">
                                <input type="text" required name="Latitude" value="@Model.Latitude" class="form-control" placeholder="Latitude">
                                <span class="help-block"> informe a latitude do endereço (para mostrar no mapa)</span>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label col-md-3">Longitude</label>
                            <div class="col-md-4">
                                <input type="text" required name="Longitude" value="@Model.Longitude" class="form-control" placeholder="Longitude">
                                <span class="help-block"> informe a longitude do endereço (para mostrar no mapa)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Mínimo de horas para desmarcar</label>
                            <div class="col-md-4">
                                <input type="number" min="1" step="1" class="form-control" placeholder="Mínimo de horas" name="MinimoHoras" value="@Model.MinimoHoras">
                                <span class="help-block"> só poderá desmarcar aulas e recuperá-las se feito com x horas de antecedência </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Período máximo para marcar/desmarcar aulas</label>
                            <div class="col-md-4">
                                <input type="number" min="1" step="1" class="form-control" placeholder="Período máximo" name="Periodo" value="@Model.Periodo">
                                <span class="help-block"> só poderá marcar/desmarcar aulas x dias à frente da data atual </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Quantidade de Sessões por Pacote</label>
                            <div class="col-md-4">
                                <input type="number" min="1" step="1" class="form-control" placeholder="Número de Sessões" name="NumeroSessoes" value="@Model.NumeroSessoes">
                                <span class="help-block"> número de sessões inclusas nos pacotes de tratamentos </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" id="concluir" class="btn green">Concluir</button>
                                <button type="button" class="btn default">Canelar</button>
                            </div>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div id="modal-descontos" tabindex="-1" class="modal fade bs-modal-lg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Posicione a área que deseja exibir no site</h4>
            </div>
            <div class="modal-body" id="img-crop">

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-descontos" data-dismiss="modal" class="btn green">Concluir</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="px" value="283" />
<input type="hidden" id="py" value="175" />
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts/scriptCrop.js")"></script>
}
<script type="text/javascript">
    $(document).ready(function () {

        $(".telefone").inputmask("mask", {
            "mask": "(99) 9999-9999"
        });
    });
</script>