﻿@model FisiovidaSystem.Lib.Entity.Novidade

<div class="mt-element-card mt-element-overlay">
    <div class="row">
        @foreach (var item in Model.Galeria)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="mt-card-item">
                    <div class="mt-card-avatar mt-overlay-1">
                        <img src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + item.Arquivo)" />
                        <div class="mt-overlay">
                            <ul class="mt-info">
                                <li>
                                    <a class="btn default btn-outline" title="Remover Imagem" href="javascript:;">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
