﻿@model FisiovidaSystem.Lib.Entity.Novidade

@{
    var texto = "o cadastro";
    ViewBag.Title = "Conteúdo - Novidade - Cadastro";
    if (Model.ID > 0)
    {
        ViewBag.Title = "Conteúdo - Novidade - Edição";
        texto = "a edição";
    }
    ViewBag.Novidades = "active";
    ViewBag.ConteudoOpen = "open";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Novidade","Conteudo")">Conteúdo/Novidades</a>
            <i class="fa fa-circle"></i>
        </li>

        @if (Model.ID > 0)
        {
            <li>
                <span>Editar</span>
            </li>
        }
        else
        {
            <li>
                <span>Cadastro</span>
            </li>

        }

    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title ">
    @if (Model.ID > 0)
    {
        @Model.Titulo
    }
    else
    {
        <text>Cadastrar Novidade</text>
    }
    <small>preencha os campos para realizar @texto dos dados</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa-info-circle fa font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Informações Gerais</span>
            <span class="caption-helper">da notícia</span>
        </div>
    </div>
    @using (Html.BeginForm("SalvarNovidade", "Conteudo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="hidden" name="Imagem" value="@Model.Imagem" />
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Título</label>
                    <div class="col-md-10">
                        <input type="text" required="required" name="Titulo" class="form-control" placeholder="Nome" value="@Model.Titulo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Chamada</label>
                    <div class="col-md-10">
                        <input type="text" name="Chamada" class="form-control" placeholder="Chamada" value="@Model.Chamada">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Texto</label>
                    <div class="col-md-10">
                        <textarea name="Texto" id="summernote_1"> @Model.Texto</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="multiple" class="col-md-2 control-label">Tags</label>
                    <div class="col-md-10">
                        <select id="multiple" name="TagsIds" class="form-control select2-multiple" multiple>
                            @foreach (var t in Model.TagsSistema)
                            {
                                <option @(Model.Tags.Count(p => p.ID == t.ID) > 0 ? "selected" : "") value="@t.ID">@t.Nome</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2 control-label">Foto de Capa</label>
                    <input type="hidden" id="x1" name="x1" />
                    <input type="hidden" id="y1" name="y1" />
                    <input type="hidden" id="w1" name="w1" value="1000" />
                    <input type="hidden" id="h1" name="h1" value="369" />

                    <input type="hidden" id="x" name="x" value="@Model.x" />
                    <input type="hidden" id="y" name="y" value="@Model.y" />
                    <input type="hidden" id="w" name="w" value="212" />
                    <input type="hidden" id="h" name="h" value="213" />
                    <input type="hidden" name="ImagemCapa" value="@Model.ImagemCapa" />
                    <input type="hidden" name="ImagemDestaque" value="@Model.ImagemDestaque" />
                    <div class="col-md-10">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                @{
                            var imagem = Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Imagem);
                            if (String.IsNullOrEmpty(Model.Imagem))
                            {
                                imagem = Url.Content("~/Content/img/image-icon.png");
                            }
                                }
                                <img src="@imagem" />
                            </div>
                            <div>
                                <span class="btn red btn-outline btn-file">
                                    <span class="fileinput-new"> Selecione </span>
                                    <span class="fileinput-exists"> Alterar </span>
                                    <input type="file" name="...">
                                </span>
                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
                        <a data-target="#modal-descontos" id="cortar" data-toggle="modal" class="btn red btn-outline">
                            <i class="fa fa-crop"></i> Cortar
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Destaque</label>
                    <div class="col-md-10">
                        <input type="checkbox" name="Destaque" value="@Model.Destaque.ToString()" data-size="small" @(Model.Destaque ? "checked" : "") data-id="@Model.ID" class="switcher destaque make-switch master form-control" data-on-color="primary" data-off-color="danger">
                    </div>
                    <input type="hidden" name="EditouCrop" id="EditouCrop" value="@Model.EditouCrop" />
                    <input type="hidden" name="EditouCapa" id="EditouCapa" value="@Model.EditouCapa" />
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="submit" id="concluir" class="btn green">Concluir</button>
                        <a href="@Url.Action("Novidade", "Conteudo")" class="btn default">Cancelar</a>
                    </div>
                </div>
            </div>


        </div>
    }

</div>

@if (Model.ID > 0)
{

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa-camera-retro fa font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Galeria</span>
                <span class="caption-helper">de fotos</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div id="galeria">

                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                        @foreach (var item in Model.Galeria)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="img-@(item.ID)">
                                <div class="mt-card-item">
                                    <div class="mt-card-avatar mt-overlay-1">
                                        <img style=" margin: 0 auto; max-width: 100%; max-height: 100%; width:auto; height: 200px; display: block;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + item.Arquivo)" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline remover-imagem" data-imgid="@item.ID" title="Remover Imagem" href="#">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <form action="@Url.Action("UploadImagens", "Conteudo")" class="dropzone dropzone-file-area" id="dropzone" style="width: 500px; margin-top: 50px;">
                <h3 class="sbold">Largue os arquivos aqui para adicionar mais fotos</h3>
                <p> Ou clique para selecionar os arquivos. </p>
            </form>

        </div>
    </div>
}

<div id="modal-descontos" tabindex="-1" class="modal fade bs-modal-lg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Posicione a área que deseja exibir no site</h4>
            </div>
            <div class="modal-body" id="img-crop">

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-descontos" data-dismiss="modal" class="btn green">Concluir</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-descontos2" tabindex="-1" class="modal fade bs-modal-lg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Posicione a área que deseja exibir no site</h4>
            </div>
            <div class="modal-body" id="img-crop2">

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-descontos2" data-dismiss="modal" class="btn green">Concluir</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="pdx" value="1000" />
<input type="hidden" id="pdy" value="369" />

<input type="hidden" id="px" value="212" />
<input type="hidden" id="py" value="213" />

<script type="text/javascript">

    $(document).ready(function () {

        $(".select2, .select2-multiple").select2();
        $('#summernote_1').summernote({ height: 300 });
        $("#btn-descontos2").on('click', function(){
            $("#EditouCrop").val(true);
        });
        $("#btn-descontos").on('click', function(){
            $("#EditouCapa").val(true);
        });

    });

</script>


@if (Model.ID > 0)
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#dropzone").dropzone({
                url: '@Url.Action("UploadImagens", "Conteudo")?novidadeID=' + @Model.ID,
                addRemoveLinks: true,
                success: function (file, data) {
                    if (data.sucesso) {
                        $('#galeria').html(data.msg);
                        toastr.success('Galeria atualizada com sucesso!', 'Ok!');
                        //$(this).removeAllFiles();
                    } else {
                        toastr.error("Ocorreu um erro ao atualizar a galeria", 'Ops!');
                    }
                },
                error: function (file, data) {
                    toastr.error("Ocorreu um erro ao atualizar a galeria", 'Ops!');
                }
            });
            $('.remover-imagem').on('click', function (e) {
                var id = $(this).attr("data-imgid");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoverImagem", "Conteudo")?id=' + id,
                    data: param = "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.sucesso) {
                            toastr.success('Imagem excluída com sucesso!', 'Ok!');
                            $("#img-" + id).hide();
                            window.location.hash = "#galeria";
                        } else {
                            toastr.error('Ocorreu um erro inesperado', 'Ops!');
                        }

                    },
                    error: function (data) {
                        toastr.error("Ocorreu um erro ao excluir a imagem!", 'Ops!');
                    }
                });
            });
        });

    </script>
}
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts/scriptCrop.js")"></script>
    <script src="@Url.Content("~/Content/scripts/cropDestaque.min.js")"></script>
}