﻿@model FisiovidaSystem.Lib.Entity.Tag
@{
    var texto = "o cadastro";
    ViewBag.Title = "Conteúdo - Tags - Cadastro";
    if (Model.ID > 0)
    {
        ViewBag.Title = "Conteúdo - Tags - Edição";
        texto = "a edição";
    }
    ViewBag.Tags = "active";
    ViewBag.ConteudoOpen = "open";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Tags","Conteudo")">Conteúdo/Tags</a>
            <i class="fa fa-circle"></i>
        </li>

        @if (Model.ID > 0)
        {
            <li>
                <span>Editar</span>
            </li>
        }
        else
        {
            <li>
                <span>Cadastro</span>
            </li>

        }

    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title ">
    @if (Model.ID > 0)
    {
        @Model.Nome
    }
    else
    {
        <text>Cadastrar Tag</text>
    }
    <small>preencha os campos para realizar @texto dos dados</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa-info-circle fa font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Informações Gerais</span>
            <span class="caption-helper">da tag</span>
        </div>
    </div>
    @using (Html.BeginForm("SalvarTag", "Conteudo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <input type="hidden" name="ID" value="@Model.ID" id="tagid" />
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nome</label>
                    <div class="col-md-4">
                        <input type="text" required="required" name="Nome" class="form-control" placeholder="Nome" value="@Model.Nome">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Cor</label>
                    <div class="col-md-4">
                        @if (Model.ID > 0)
                        {
                            <input type="text" id="brightness-demo" class="form-control demo" name="Cor" data-control="brightness" value="@Model.Cor">
                        }
                        else
                        {
                            <input type="text" id="brightness-demo" class="form-control demo" name="Cor" data-control="brightness" value="#00ffff">
                        }
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="submit" class="btn green">Concluir</button>
                        <a href="@Url.Action("Tags", "Conteudo")" class="btn default">Cancelar</a>
                    </div>
                </div>
            </div>


        </div>
    }

</div>