﻿@{
    ViewBag.Title = "Conteúdo - Tags - Lista";
    ViewBag.Tags = "active";
    ViewBag.ConteudoOpen = "open";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tags font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold uppercase">Tags</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="@Url.Action("EditarTag","Conteudo")" class="btn green">
                                    <i class="icon-plus" style="margin-right:5px;"></i>  Cadastrar
                                </a>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="tags-table">
                    <thead>
                        <tr>
                            <th> Nome </th>
                            <th> Cor </th>
                            <th style="width:30px"> </th>
                            <th style="width:30px"> </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END CONTENT BODY -->

<script>
    $(document).ready(function () {
        $('#tags-table').dataTable({
            "oLanguage": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": "@Url.Action("ListarTags", "Conteudo")",
            "bProcessing": true,
            "aoColumns": [
                { "sName": "Nome", "bSortable": false },
                {
                    "sName": "Cor",
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="background-color:' + data + '; width: 70px; height: 30px;"></div>';
                        return botoes;
                    }
                },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Editar" title="Editar" href="@Url.Action("EditarTag", "Conteudo")/' + data + '" class="btn btn-sm green"> <i class="fa fa-pencil"> </i></a></div>';
                        return botoes;
                    }
                },
                {
                    "sName": "Excluir",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Excluir" title="Excluir" href="@Url.Action("ExcluirTag", "Conteudo")/' + data + '" class="btn btn-sm red"> <i class="icon-trash"> </i></a></div>';
                        return botoes;
                    }
                }
            ]
        });
    });
</script>


