﻿@model FisiovidaSystem.Lib.Entity.Tratamento
@{
    ViewBag.Title = "Tratamentos - Editar";
    ViewBag.Tratamentos = "active";

}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Tratamento")">Tratamentos</a>
            <i class="fa fa-circle"></i>
        </li>
        @if (Model.ID > 0)
        {
            <li>
                <span>Editar</span>
            </li>
        }
        else
        {
            <li>
                <span>Cadastro</span>
            </li>

        }

    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title ">
    @if (Model.ID > 0)
    {
        @Model.Nome
    }
    else
    {
        <text>Cadastrar Tratamento</text>
    }
    <small>preencha os campos para realizar o cadastro</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa-info-circle fa font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">Informações Gerais</span>
            <span class="caption-helper">do tratamento</span>
        </div>
    </div>
    @using (Html.BeginForm("Salvar", "Tratamento", FormMethod.Post, new { id = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <input type="hidden" name="ID" value="@Model.ID" id="tratamentoid" />
            <input type="hidden" name="FotoCapa" value="@Model.FotoCapa" />
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nome</label>
                    <div class="col-md-4">
                        <input type="text" required="required" name="Nome" class="form-control" placeholder="Nome" value="@Model.Nome">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Descrição</label>
                    <div class="col-md-4">
                        <textarea required="required" class="form-control" style="height:150px" placeholder="Descreva o tratamento" name="Descricao">@Model.Descricao</textarea>
                        <span class="help-block"> Essa descrição será apresentada no site. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Duração da aula</label>
                    <div class="col-md-4">
                        @if (Model.ID > 0)
                        {
                            <input required="required" type="number" min="0" step="1" class="form-control" placeholder="Duração" name="Duracao" value="@Model.Duracao">
                        }
                        else
                        {
                            <input required="required" type="number" min="0" step="1" class="form-control" placeholder="Duração" name="Duracao">
                        }
                        <span class="help-block"> Insira o tempo minutos.</span>
                    </div>
                </div>
                <input type="hidden" name="ValorSessao" value="@Model.ValorSessao" id="sessao"/>
                <input type="hidden" name="ValorPacote" value="@Model.ValorPacote" id="pacote" />
                <div class="form-group">
                    <label class="col-md-3 control-label">Valor da Sessão</label>
                    <div class="col-md-4">
                        @if (Model.ID > 0)
                        {
                            <input type="text" id="sessao1" required="required" class="valor form-control" placeholder="Valor Sessão" value="@Model.ValorSessao.ToString("N2")">
                        }
                        else
                        {
                            <input type="text" id="sessao1" required="required" class="valor form-control" placeholder="Valor Sessão">
                        }
                        <span class="help-block"> Insira o valor da sessão individual (R$).</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Valor do Pacote</label>
                    <div class="col-md-4">
                        @if (Model.ID > 0)
                        {
                            <input type="text" id="pacote1" required="required" class="form-control valor" placeholder="Valor Pacote" value="@Model.ValorPacote.ToString("N2")">
                        }
                        else
                        {
                            <input type="text" id="pacote1" required="required" class="form-control valor" placeholder="Valor Pacote">
                        }
                        <span class="help-block"> Insira o valor do pacote (R$).</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="multiple" class="col-md-3 control-label">Áreas Trabalhadas</label>
                    <div class="col-md-4">
                        <select id="multiple" name="TagsIds" class="form-control select2-multiple" multiple>
                            @foreach (var t in Model.IconesSistema)
                            {
                                <option @(Model.Icones.Count(p => p.ID == t.ID) > 0 ? "selected" : "") value="@t.ID">@t.Nome</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group ">

                    <input type="hidden" id="x" name="x" value="@Model.x" />
                    <input type="hidden" id="y" name="y" value="@Model.y" />
                    <input type="hidden" id="w" name="w" value="750" />
                    <input type="hidden" id="h" name="h" value="127" />

                    <label class="control-label col-md-3">Foto de Capa</label>
                    <div class="col-md-9">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                @{
                        var imagem = Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.FotoCapa);
                        if (String.IsNullOrEmpty(Model.FotoCapa))
                        {
                            imagem = Url.Content("~/Content/img/image-icon.png");
                        }
                                }
                                <img src="@imagem" />
                            </div>
                            <div>
                                <span class="btn red btn-outline btn-file">
                                    <span class="fileinput-new"> Selecione </span>
                                    <span class="fileinput-exists"> Alterar </span>
                                    <input type="file" name="...">
                                </span>
                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                <a data-target="#modal-descontos" id="cortar" data-toggle="modal" class="btn red btn-outline">
                                    <i class="fa fa-crop"></i> Cortar
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        <button type="submit" id="concluir" class="btn green">Concluir</button>
                        <a href="@Url.Action("Index", "Tratamento")" class="btn default">Cancelar</a>
                    </div>
                </div>
            </div>


        </div>
    }

</div>
@if (Model.ID > 0)
{
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa-camera-retro fa font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Galeria de Fotos</span>
                <span class="caption-helper">do tratamento</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="galeria">

                <div class="mt-element-card mt-element-overlay">
                    <div class="row">
                        @foreach (var item in Model.Galeria)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="img-@(item.ID)">
                                <div class="mt-card-item">
                                    <div class="mt-card-avatar mt-overlay-1">
                                        <img style=" margin: 0 auto; max-width: 100%; max-height: 100%; width:auto; height: 200px; display: block;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + item.Arquivo)" />
                                        <div class="mt-overlay">
                                            <ul class="mt-info">
                                                <li>
                                                    <a class="btn default btn-outline remover-imagem" data-imgid="@item.ID" title="Remover Imagem" href="#">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <form action="@Url.Action("UploadImagens", "Tratamento")" class="dropzone dropzone-file-area" id="dropzone" style="width: 500px; margin-top: 50px;">
                <h3 class="sbold">Largue os arquivos aqui para adicionar mais fotos</h3>
                <p> Ou clique para selecionar os arquivos. </p>
            </form>
        </div>

    </div>

}


<div id="modal-descontos" tabindex="-1" class="modal fade bs-modal-lg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Posicione a área que deseja exibir no site</h4>
            </div>
            <div class="modal-body" id="img-crop">

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-descontos" data-dismiss="modal" class="btn green">Concluir</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="px" value="750" />
<input type="hidden" id="py" value="127" />
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts/scriptCrop.js")"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".select2, .select2-multiple").select2();
        
        $(".valor").inputmask('9.999,99', {
            numericInput: true
        });

        $("#concluir").on("click", function (e) {
            var val = $("#sessao1").val();
            val = val.replace(".", "");
            val = val.replace("_", "0");
            $("#sessao").val(val);

            val = $("#pacote1").val();
            val = val.replace(".", "");
            val = val.replace("_", "0");
            $("#pacote").val(val);

            return true;
        });
    });
</script>

@if (Model.ID > 0)
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#dropzone").dropzone({
                url: '@Url.Action("UploadImagens", "Tratamento")?tratamentoID=' + $('#tratamentoid').val(),
                addRemoveLinks: true,
                success: function (file, data) {
                    if (data.sucesso) {
                        $('#galeria').html(data.msg);
                        toastr.success('Galeria atualizada com sucesso!', 'Ok!');
                        //$(this).removeAllFiles();
                    } else {
                        toastr.error("Ocorreu um erro ao atualizar a galeria", 'Ops!');
                    }
                },
                error: function (file, data) {
                    toastr.error("Ocorreu um erro ao atualizar a galeria", 'Ops!');
                }
            });
            $('.remover-imagem').on('click', function (e) {
                var id = $(this).attr("data-imgid");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoverImagem", "Tratamento")?id=' + id,
                    data: param = "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.sucesso) {
                            toastr.success(data.msg, 'Ok!');
                            $("#img-" + id).hide();
                        } else {
                            toastr.error(data.msg, 'Ops!');
                        }

                    },
                    error: function (data) {
                        toastr.error("Ocorreu um erro ao excluir a imagem!", 'Ops!');
                    }
                });
            });
        });

    </script>
}