﻿@model FisiovidaSystem.Lib.Entity.Usuario
@{
    ViewBag.Title = "Usuários - Editar";
    ViewBag.Usuarios = "active";

    ViewBag.UsuariosTab = "selected";
    ViewBag.UsuariosOpen = "open";
    var cadastro = "o cadastro";
}


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Usuario")">Usuários</a>
            <i class="fa fa-circle"></i>
        </li>
        @if (Model.ID > 0)
        {
            cadastro = "a edição";
            <li>
                <span>Editar</span>
            </li>
        }
        else
        {
            <li>
                <span>Cadastro</span>
            </li>

        }

    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title ">
    @if (Model.ID > 0)
    {
        @Model.Nome
    }
    else
    {
        <text>Cadastrar Usuário</text>
    }
    <small>preencha os campos para realizar @cadastro</small>
</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-smile-o font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Informações Pessoais</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm("Salvar", "Usuario", FormMethod.Post, new { id = "form-cadastro", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <input type="hidden" value="@Model.Foto" name="Foto" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nome Completo</label>
                                <input type="text" name="Nome" class="form-control" value="@Model.Nome" placeholder="Nome Completo">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sexo</label>
                                <select name="Sexo" class="form-control">
                                    @if (Model.Sexo == 'M')
                                    {
                                        <option value="F">Feminino</option>
                                        <option value="M" selected>Masculino</option>
                                    }
                                    else
                                    {
                                        <option value="F" selected>Feminino</option>
                                        <option value="M">Masculino</option>
                                    }

                                </select>
                            </div>
                            <div class="form-group cpf ">
                                <label class="control-label">CPF</label>
                                <input type="text" id="cpf" value="@Model.CPF" name="CPF" class="form-control" placeholder="CPF">
                                <span id="msg-erro-cpf" class="help-block hidden"> CPF inválido. </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="email" name="Email" value="@Model.Email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Login</label>
                                <input type="text" value="@Model.Login" name="Login" class="form-control" placeholder="Login">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Descrição do Profissional</label>
                                <textarea value="@Model.Login" name="DescricaoProfissional" class="form-control" placeholder="Descrição"></textarea>
                            </div>
                            @if (Model.ID <= 0)
                            {
                                <div class="form-group senha">
                                    <label class="control-label">Senha</label>
                                    <input type="password" id="senha" name="Senha" class="form-control" placeholder="Senha">
                                    <span id="msg-erro-senhas" class="help-block hidden"> Senhas não conferem. </span>
                                </div>
                                <div class="form-group senha">
                                    <label class="control-label">Confirmar Senha</label>
                                    <input type="password" id="confirmarSenha" name="ConfirmarSenha" class="form-control" placeholder="Confirmar Senha">
                                </div>
                            }
                        </div>
                        <div class="col-md-6">
                            <input type="hidden" id="x" name="x" value="@Model.x" />
                            <input type="hidden" id="y" name="y" value="@Model.y" />
                            <input type="hidden" id="w" name="w" value="170" />
                            <input type="hidden" id="h" name="h" value="171" />

                            <label class="control-label">Foto de Perfil</label>
                            <div>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                        @{
                            var imagem = Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Foto);
                            if (String.IsNullOrEmpty(Model.Foto))
                            {
                                imagem = Url.Content("~/Content/img/default_avatar.png");
                            }
                                        }
                                        <img src="@imagem" />
                                    </div>
                                    <div>
                                        <span class="btn red btn-outline btn-file">
                                            <span class="fileinput-new"> Selecione </span>
                                            <span class="fileinput-exists"> Alterar </span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        <a data-target="#modal-descontos" id="cortar" data-toggle="modal" class="btn red btn-outline">
                                            <i class="fa fa-crop"></i> Cortar
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="@Url.Action("Index","Usuario")" class="btn default">Cancelar</a>
                        <button id="concluir" type="submit" class="btn blue">
                            <i class="fa fa-check"></i> Salvar
                        </button>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>
        @if (Model.ID > 0)
        {
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-wrench font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Permissões do Sistema</span>
                    </div>
                </div>
                <div class="portlet-body form">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Professor</label>
                                <div class="form-group">
                                    <input type="checkbox" data-size="small" @(Model.Professor ? "checked" : "") data-id="@Model.ID" class="switcher make-switch professor form-control" data-on-color="primary" data-off-color="danger">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group cpf ">
                                <label class="control-label">Usuário Master</label>
                                <div class="form-group">
                                    <input type="checkbox" data-size="small" @(Model.Master?"checked":"") data-id="@Model.ID" class="switcher make-switch master form-control" data-on-color="primary" data-off-color="danger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Alterar Senha</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="@Url.Action("AlterarSenha", "Usuario")" class="horizontal-form">
                        <input type="hidden" name="ID" value="@Model.ID"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Senha</label>
                                    <input type="password" name="Senha" class="form-control" placeholder="Senha">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group cpf ">
                                    <label class="control-label">Confirmação da Senha</label>
                                    <input type="password" name="ConfirmarSenha" class="form-control" placeholder="Confirmação Senha">
                                    <span id="msg-erro-senhas" class="help-block hidden"> Senhas não conferem. </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions right">
                            <button type="submit" class="btn blue">
                                <i class="fa fa-exclamation"></i> Alterar Senha
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>


<div id="modal-descontos" tabindex="-1" class="modal fade bs-modal-lg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Posicione a área que deseja exibir no site</h4>
            </div>
            <div class="modal-body" id="img-crop">

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-descontos" data-dismiss="modal" class="btn green">Concluir</button>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="px" value="170" />
<input type="hidden" id="py" value="171" />

@if (Model.ID > 0)
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('.switcher').bootstrapSwitch();
            $('.switcher.professor').on('switchChange.bootstrapSwitch', function (event, state) {

                var url = '@Url.Action("SetProfessor", "Usuario")?id=' + $(this).data("id") + '&professor=' + $(this).is(':checked');
                $.getJSON(url, function (data) {
                    if (!data.Sucesso) {
                        toastr.error('Ocorreu um erro ao salvar os dados!', 'Ops!');
                    } else {
                        toastr.success('Dados alterados com sucesso!', 'Ok!');
                    }
                });
            });
            $('.switcher.master').on('switchChange.bootstrapSwitch', function (event, state) {
                var url = '@Url.Action("SetMaster", "Usuario")?id=' + $(this).data("id") + '&master=' + $(this).is(':checked');
                $.getJSON(url, function (data) {
                    if (!data.Sucesso) {
                        toastr.error('Ocorreu um erro ao salvar os dados!', 'Ops!');
                    } else {
                        toastr.success('Dados alterados com sucesso!', 'Ok!');
                    }
                });
            });
        });
    </script>
}


<script type="text/javascript">
    function TestaCPF(strCPF) {
        var Soma;
        var Resto;
        Soma = 0;
        if (strCPF == "00000000000")
            return false;

        for (i = 1; i <= 9; i++)
            Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);
        Resto = (Soma * 10) % 11;

        if ((Resto == 10) || (Resto == 11))
            Resto = 0;
        if (Resto != parseInt(strCPF.substring(9, 10)))
            return false;

        Soma = 0;
        for (i = 1; i <= 10; i++)
            Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);
        Resto = (Soma * 10) % 11;

        if ((Resto == 10) || (Resto == 11))
            Resto = 0;
        if (Resto != parseInt(strCPF.substring(10, 11)))
            return false;
        return true;
    }
    $(document).ready(function () {

        $("#cpf").inputmask("mask", {
            "mask": "999.999.999-99"
        });

        var form1 = $('#form-cadastro');

        $.validator.messages.required = 'Campo Obrigatório';
        $.validator.messages.email = 'Email inválido';
        $.validator.messages.digits = 'Digite apenas dígitos';
        $.validator.messages.number = 'Informe apenas números';
        $.validator.messages.maxlength = jQuery.validator.format("Por favor, informe no máximo {0} caracteres.");
        $.validator.messages.minlength = jQuery.validator.format("Por favor, informe no mínimo {0} caracteres.");

        jQuery.validator.addMethod("dateBR", function (value, element) {
            return this.optional(element) || /^\d\d?\/\d\d?\/\d\d\d?\d?$/.test(value);
        }, "Informe uma data válida");  // Mensagem padrão


        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",  // validate all fields including form hidden input
            messages: {

            },
            rules: {
                Nome: {
                    minlength: 5,
                    required: true
                },
                Senha: {
                    minlength: 6,
                    required: true
                },
                ConfirmarSenha: {
                    minlength: 6,
                    required: true
                },
                Email: {
                    required: true,
                    email: true
                },
                CPF: {
                    required: true
                },
                Login: {
                    required: true
                }
            },

            invalidHandler: function (event, validator) { //display error alert on form submit
            },

            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            success: function (label) {
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
            },

            submitHandler: function (form) {

            }
        });

        $("#form-cadastro").on("submit", function (e) {
            //e.preventDefault();
            var cpf = $("#cpf").val().replace("-", "");
            cpf = cpf.replace(".", "");
            cpf = cpf.replace(".", "");
            var cpfValido = TestaCPF(cpf);

            if ($("#senha").val() != $("#confirmarSenha").val()) {
                $(".form-group.senha").attr("class", "form-group senha has-error");
                $(".form-group.senha").attr("class", "form-group senha has-error");
                $("#msg-erro-senhas").show();
                e.preventDefault();
                return false;
            } else {
                $("#msg-erro-senhas").hide();
            }

            if (cpfValido) {
                $("#msg-erro-cpf").hide();
                $("#form-cadastro").unbind().submit();
            } else {
                e.preventDefault();
                if (cpf.length == 11) {
                    $(".form-group.cpf").attr("class", "form-group cpf has-error");
                    $("#msg-erro-cpf").attr("class", "help-block");
                }
                e.preventDefault();
                return false;
            }

        });
    });
</script>
@section Scripts
{
    <script src="@Url.Content("~/Content/scripts/scriptCrop.js")"></script>
}