﻿@model FisiovidaSystem.Lib.Model.ModalidadeTratamentoModel
@{
    ViewBag.Title = "Mude " + Model.Nome;
    ViewBag.Modalidades = "active";
}


<div class="categoria">
    <div class="container">
        <div class="form-categoria pd-zero container">
            <div class="row form-categoria pd-zero container">
                <h1 class="tit-modal col-md-8 col-sm-7 md-tit">@Model.Nome</h1>
                <br class="clr visible-xs hidden-sm hidden-md hidden-lg">
                <div class="descricao-modal">
                    <img id="info-bt" class="col-md-2 col-sm-2 col-xs-2" src="~/Content/imagem/info-icon.png"><div id="infobox" class="xs-display col-xs-9 desc-texto-info col-md-8 col-sm-8">
                        <h4>Descrição</h4><p class="info-texto">
                            @Html.Raw(Model.Descricao)
                        </p>
                    </div>
                </div>
                <div class="row col-md-4 col-sm-5">
                    <div class="col-md-6 col-sm-6">
                        <p class="dados-empresa counter" data-count="@Model.VagasPorTurma">0</p>
                        <p>Máx. Pessoas</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p class="dados-empresa counter" data-count="@Model.Duracao">0</p>
                        <p>Minutos</p>
                    </div>
                </div>
            </div>
            <div class="conteudo">

                <div class='row hidden-xs @(Model.Galeria.Count==0?"hidden":"")'>
                    <div class="carousel no-margin carousel2 slide mg-zero media-carousel" id="carousel1">
                        <div class="carousel-inner ">
                            @{
                                var cont = 0;

                                while (cont < Model.Galeria.Count)
                                {
                                    <div class="item  @(cont==0?"active":"") galeria-hover">
                                        <div class="row">
                                            @for (int i = 0; i < 4; i++)
                                            {
                                                if (cont + i < Model.Galeria.Count)
                                                {

                                                    var dif = Model.Galeria[cont + i];
                                                    <div class="col-md-3 col-sm-3 gallery-item" style="display:block;">
                                                        <a href="#" class="thumbnail link-gallery crop" data-toggle="modal" data-target="#modalGallery">
                                                            <img class="carousel-inner2 galeria-altura img-responsive img-gallery" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + dif.Arquivo)">
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                            cont += 4;
                                }
                            }
                        </div>
                        @if (Model.Galeria.Count > 4)
                        {
                            <a data-slide="prev" href="#carousel1" class="left carousel-control click">‹</a>
                            <a data-slide="next" href="#carousel1" class="right carousel-control click">›</a>
                        }
                    </div>
                </div>

                <div class="row ">
                    @foreach (var i in Model.Icones)
                    {
                        var classe = "3";
                        if (Model.Icones.Count == 3)
                        {
                            classe = "4";
                        }
                        else if (Model.Icones.Count == 2)
                        {
                            classe = "6";
                        }
                        else if (Model.Icones.Count == 1)
                        {
                            classe = "12";
                        }
                        
                        <div class="col-md-@classe col-sm-@classe">
                            <img src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + i.Imagem)">
                            <h2>@i.Nome.ToUpper()</h2>
                        </div>
                    }
                </div>
                <div class="hidden-xs profissionais @(Model.Professores.Count==0?"hidden":"")">
                    <h2 class="tit">PROFISSIONAIS</h2><hr style="font-weight: inherit;margin-bottom:5px; margin-top:10px;" />

                    <div class='row'>
                        <div class="carousel carousel2 slide media-carousel" id="media">
                            <div class="carousel-inner">
                                @{
                                    cont = 0;

                                    while (cont < Model.Professores.Count)
                                    {
                                        <div class="item  @(cont == 0 ? "active":"")">
                                            <div class="row ">

                                                @for (int i = 0; i < 4; i++)
                                                {
                                                    if (cont + i < Model.Professores.Count)
                                                    {
                                                        var prof = Model.Professores[cont + i];
                                                        <div id="mouse" class="col-md-3">
                                                            <img alt="" style="width: 90%;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + prof.Foto)">
                                                            <div id="comentario"><p class="nome">@prof.Nome</p><p>@prof.DescricaoProfissional</p></div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                                cont += 4;
                                    }
                                }
                            </div>
                            @if (Model.Professores.Count > 4)
                            {
                                <a data-slide="prev" href="#media" class="left  m-carousel carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right  m-carousel carousel-control">›</a>
                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row hidden-xs">
        <div class="col-md-7 pad-ag">
            <p><a href="#"><img src="~/Content/imagem/agendamento2.jpg"></a></p>
        </div>

        <div class="col-md-5 pad-prop">
            <p>
                <a href="@Model.Configuracao.LinkPropaganda" target="_blank">
                    <img class="propa" style="min-height:100%; overflow:hidden;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Configuracao.BannerPropaganda)">
                </a>
            </p>
        </div>
    </div>

    <hr>
    <div>
        <!-- FOOTER -->
        <footer>
            <p class="pull-right hidden-xs"><img src="~/Content/imagem/pereiras.jpg"></p>
            <p class="pull-right visible-xs hidden-sm hidden-md hidden-lg"><img width="85" src="~/Content/imagem/pereiras.jpg"></p>
            <p>® MUDE | Esporte e Saúde - Todos os direitos reservados</p>
        </footer>
    </div>
</div><!-- /.container -->
<div class="modal fade" id="modalGallery" tabindex="-1" role="dialog" aria-labelledby="modalGalleryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div> <!-- /.modal-header -->

            <div class="modal-body">
                <div id="carouselGallery" class="carousel no-margin slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                    </div> <!-- /.carousel-inner -->
                </div> <!-- /.carousel -->
            </div> <!-- /.modal-body -->

            <div class="modal-footer">
                <ul class="pagination"></ul>
            </div> <!-- /.modal-footer -->
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

@section Scripts
{

    <script src="@Url.Content("~/Content/js/vendor/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/galeria.js")"></script>
}
<script>
    $("#info-bt").click(function () {
        $("#infobox").toggle();
    });
</script>