﻿@model FisiovidaSystem.Lib.Entity.Desconto
@{
    var cadastro = "Cadastro";
    ViewBag.Title = "Cadastrar Desconto";
    if (Model.ID > 0)
    {
        cadastro = "Edição";
        ViewBag.Title = "Editar Desconto";
    }
    ViewBag.Descontos = "active";

}


<div class="page-bar" style="margin-bottom:40px;">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a id="aluno-button" href="@Url.Action("Index", "Desconto")">Descontos</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @if (Model.ID > 0)
            {
                <span>@(Model.Porcentagem * 100)%</span>
            }
            else
            {
                <span>Cadastro</span>
            }
            
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<h3 class="page-title ">
    @cadastro Desconto
    @if (Model.ID > 0)
    {
        <small>preencha os campos para realizar a edição</small>
    }
    else
    {
        <small>preencha os campos para realizar o cadastro</small>
    }
    
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa-info-circle fa font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Informações Gerais</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Salvar", "Desconto")" id="form-cadastro" class="horizontal-form">
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Porcentagem</label>
                                <input class="form-control" type="number" min="0.1" step="0.1" max="100" name="Porcentagem" value="@(Model.Porcentagem*100)" />
                                <span class="help-block">Insira uma porcentagem entre 0 e 100%</span>
                            </div>
                            <div class="form-group ">
                                <!--has-error-->
                                <label class="control-label">Descrição</label>
                                <textarea required="required" class="form-control" style="height:150px" name="Descricao">@Model.Descricao</textarea>
                                <span class="help-block">Descreva a finalidade do desconto.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="@Url.Action("Index", "Desconto")" class="btn default">Cancelar</a>
                        <button type="submit" class="btn blue">
                            <i class="fa fa-check"></i> Salvar
                        </button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>


