﻿@model FisiovidaSystem.Admin.Models.TurmaModel
@{
    ViewBag.Title = "Cadastrar Aluno";
    ViewBag.Turmas = "active";

}
<div class="page-bar" style="margin-bottom:20px;">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a id="aluno-button" href="@Url.Action("Index", "Turma")">Turma</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Cadastro de Turma</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Cadastro de Turma</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("RealizarCadastro", "Turma")" id="form-cadastro" class="horizontal-form">
                    <h3 id="info-pessoais" class="form-section">Informações Gerais</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="TipoTurma" class="toggle" value="true" checked> Modalidade
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="TipoTurma" class="toggle" value="false"> Tratamento
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="ModalidadeID" class="form-control" id="select-modalidades">
                                    @foreach (var m in Model.Modalidades)
                                    {
                                        <option value="@m.ID">@m.Nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group" id="select-tratamentos" style="display: none;">
                                <select name="TratamentoID" class="form-control" id="select-tratamentos">
                                    @foreach (var m in Model.Tratamentos)
                                    {
                                        <option value="@m.ID">@m.Nome</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Horário</label>
                                <select name="HorarioID" class="form-control">
                                    @foreach (var m in Model.Horarios)
                                    {
                                        <option value="@m.ID">@m.NomeDiaSemana @m.Hora.ToString("H:mm") </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                            <label class="control-label">Professor</label>
                            <select name="ProfessorID" class="form-control">
                                @foreach (var m in Model.Professores)
                                {
                                    <option value="@m.ID">@m.Nome</option>
                                }
                            </select>

                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->


                    <div class="form-actions right">

                        <a href="@Url.Action("Index","Turma")" class="btn default">Cancelar</a>


                        <button type="submit" class="btn blue">
                            <i class="fa fa-check"></i> Salvar
                        </button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name$='TipoTurma']").on("change", function () {
            
            var test = $(this).val();

            if (test == 'true') {
                $("#select-modalidades").show();
                $("#select-tratamentos").hide();
            } else {
                $("#select-modalidades").hide();
                $("#select-tratamentos").show();
            }

        });
    });
</script>