﻿@model FisiovidaSystem.Admin.Models.TurmaSearchModel

@{
    ViewBag.Title = "Turmas - Lista";
    ViewBag.Turmas = "active";
}



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-group font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp sbold uppercase">Turmas</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="@Url.Action("Cadastrar","Turma")" class="btn green">
                                    <i class="icon-plus" style="margin-right:5px;"></i>  Cadastrar
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right hidden">
                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Ações
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;"> Salvar PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Exportar para Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-1 col-sm-1 col-lg-1">Professor:</div>
                    <div class="col-md-3">
                        <select type="text" id="professorid" name="professorid">
                            <option value="0"></option>
                            @foreach (var m in Model.Professores)
                            {
                                <option value="@m.ID">@m.Nome</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-1">Dia da semana:</div>
                    <div class="col-md-3">
                        <select type="text" id="diaSemana" name="diaSemana">
                            <option value="-1"></option>
                            <option value="1">Segunda</option>
                            <option value="2">Terça</option>
                            <option value="3">Quarta</option>
                            <option value="4">Quinta</option>
                            <option value="5">Sexta</option>
                            <option value="6">Sábado</option>
                            <option value="0">Domingo</option>
                        </select>
                    </div>

                </div>

                <div class="div-mobile">

                    <table class="table table-striped table-hover table-bordered" id="turmas-table">
                        <thead>
                            <tr>
                                <th class="col-xs-3">Modalidade/Tratamento</th>
                                <th class="col-xs-1">Dia</th>
                                <th class="col-xs-2">Hora</th>
                                <th class="col-xs-3">Professor</th>
                                <th class="col-xs-1">Vagas Disponíveis</th>
                                <th class="col-xs-1"> Detalhes </th>
                                <th class="col-xs-1"> Excluir </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END CONTENT BODY -->

<script type="text/javascript">
    $.fn.dataTableExt.afnFiltering.push(
   function (settings, data, dataIndex) {
       /*var professorid = parseInt($('#professorid').val(), 10);
       var modalidadeid = parseInt($('#modalidadeid').val(), 10);
       var modalidadeid = parseInt($('#modalidadeid').val(), 10);

       var age = parseFloat(data[3]) || 0; // use data for the age column

       if ((isNaN(min) && isNaN(max)) ||
            (isNaN(min) && age <= max) ||
            (min <= age && isNaN(max)) ||
            (min <= age && age <= max)) {
           return true;
       }
       return false;*/
       return true;
   }
   );
    $('#professorid, #modalidadeid, #diaSemana').on('change', function () {
        $('#turmas-table').DataTable().ajax.url("@Url.Action("Listar", "Turma")?professorid=" + $('#professorid').val() + "&diaSemana=" + $('#diaSemana').val());
        $('#turmas-table').DataTable().ajax.reload();
    });
    $(document).ready(function () {

        var table = $('#turmas-table').dataTable({
            "oLanguage": {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            "bFilter": false,
            "bInfo": false,
            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": "@Url.Action("Listar", "Turma")",
            "fnServerParams": function (aoData) {
                var max = $("#max").val();
                aoData.push({ name: "max", value: max });
            },
            "bProcessing": true,
            "aoColumns": [
                { "sName": "Nome", "bSortable": false },
                { "sName": "DiaSemana", "bSortable": false },
                { "sName": "Nome", "bSortable": false },
                { "sName": "Nome", "bSortable": false },
                { "sName": "VagasDisponiveis", "bSortable": false },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Ver Detalhes" href="@Url.Action("Detalhe", "Turma")/' + data + '" class="btn btn-sm blue"> <i class="icon-magnifier"> </i></a></div>';
                        return botoes;
                    }
                },
                {
                    "sName": "Editar",
                    "bSearchable": false,
                    "bSortable": false,
                    "mRender": function (data, type, full) {
                        var botoes = '';
                        botoes += '<div style="text-align:center"><a alt="Excluir" href="@Url.Action("Excluir", "Turma")/' + data + '" class="btn btn-sm red"> <i class="icon-trash"> </i></a></div>';
                        return botoes;
                    }
                }
            ]
        });

    });

</script>