﻿@model FisiovidaSystem.Models.HomeModel
@{
    ViewBag.Title = "Mude - Home";
    ViewBag.Home = "active";
}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide primeiraversaosemlogin carousel-home" data-ride="carousel">

    <div class="carousel-inner carousel-inner-home  fundo xs-estilo" role="listbox">
        @{
            var cont = 0;

        }
        @foreach (var item in Model.Destaques)
        {
            <div class="item @(cont==0?"active":"") filtro">
                <img class="first-slide container hidden-xs" style="overflow:hidden;min-width: 100%;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + item.ImagemDestaque)" alt="@item.Titulo">
                <div class="container xs-caption">
                    <div class="carousel-caption position-home">
                        <a style="text-decoration: none;" href="@Url.Action("Detalhe", "Blog", new { id = item.ID })">
                            <h1>@item.Titulo</h1>
                            <p>@item.Chamada</p>
                        </a>
                    </div>
                </div>
            </div>
            cont++;
        }
    </div>
    <ol class="carousel-indicators">
        @{
            cont = 0;
        }
        @foreach (var item in Model.Destaques)
        {
            cont++;
            <li data-target="#myCarousel" data-slide-to="@(cont-1)" class="@(cont==1?"active":"")"></li>
        }
    </ol>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"><img class="tamanho-seta" style="width:50px;" src="~/Content/imagem/i-seta.png"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"><img class="tamanho-seta" style="width:50px;" src="~/Content/imagem/i-seta2.png"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->


<div class="container">
    <!-- Example row of columns -->
    <div class="row hidden-xs">
        <div class="col-md-7 pad-ag">
            <p><a href="#"><img src="~/Content/imagem/agendamento2.jpg"></a></p>
        </div>

        <div class="col-md-5 pad-prop">
            <p>
                <a href="@Model.Configuracao.LinkPropaganda" target="_blank">
                    <img class="propa" style="min-height:100%; overflow:hidden;" src="@Url.Content(FisiovidaSystem.Lib.Util.ConfiguracaoAppUtil.Get(FisiovidaSystem.Lib.Enumerator.enumConfiguracaoLib.MidiasUrl) + Model.Configuracao.BannerPropaganda)">
                </a>
            </p>
        </div>
    </div>

    <hr>
    <div>
        <!-- FOOTER -->
        <footer>
            <p class="pull-right hidden-xs"><img src="~/Content/imagem/pereiras.jpg"></p>
            <p class="pull-right visible-xs hidden-sm hidden-md hidden-lg"><img width="85" src="~/Content/imagem/pereiras.jpg"></p>
            <p>® MUDE | Esporte e Saúde - Todos os direitos reservados</p>
        </footer>
    </div>
</div><!-- /.container -->


<div id="popup-container">
    <a class="close">x</a>
    <div id="popup-window">
        <div class="splash-bg">
            <img class="img-banner" src="~/Content/imagem/banner.jpg">
        </div>
    </div>
</div>