﻿@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-star font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Modalidades</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn green">
                                    Cadastro
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Ações
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;"> Salvar PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Exportar para Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th> Nome </th>
                            <th> Descrição </th>
                            <th width="15px"> Edição </th>
                            <th width="15px"> Exclusão </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Core Training </td>
                            <td> Core TrainingCore TrainingCore TrainingCore Training </td>
                            <td>
                                <a href="javascript:;" class="btn btn-sm purple">
                                    Editar
                                    <i class="icon-pencil"> </i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:;" class="btn btn-sm red">
                                    Deletar
                                    <i class="icon-trash"> </i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END CONTENT BODY -->